<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>글쓰기</title>
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/side-menu.css">
    <link rel="stylesheet" href="/css/common/nav.css">
</head>
<body>
    <div id="wrapper">
        <th:block th:inclue="common/html/header.html">
        <nav>
            <div>
                <div>
                    <a href="/">
                        <img src="/images/ico-home.png" alt="홈페이지">
                        &ensp;&ensp;
                    </a>
                    <a href="">&ensp;&ensp;커뮤니티&ensp;&ensp;</a>
                    <a href="">&ensp;&ensp;공지사항</a>
                </div>
            </div>
        </nav>
            <main id="container">
                <aside id="side-menu">
                    <div class="title-area">
                        <h1>입학안내</h1>
                    </div>
                    <a href="#" class="menu">공지사항</a>
                    <a href="#" class="menu">수시모집</a>
                    <a href="#" class="menu">정시모집</a>
                    <a href="#" class="menu">편입합</a>
                    <a href="#" class="menu">입학상담</a>
                </aside>
                <section>
                    <form>

                    </form>
                </section>

            </main>
        </th:block>
    </div>
</body>
</html>