<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/common/header.css">
    <link rel="stylesheet" href="/css/common/footer.css">
    <link rel="stylesheet" href="/css/common/nav.css">
    <link rel="stylesheet" href="/css/college_life/diet.css">
    
    <title>식단안내</title>
</head>
<body>
<th:block th:include="/common/html/header.html"/>
    <nav>
        <div>
          <div>
            <a href="#">
              <img src="/images/ico-home.png" alt="홈페이지" />
              &ensp;&ensp;
            </a>
            <a href="">&ensp;&ensp;대학생활&ensp;&ensp;</a>
            <a href="">&ensp;&ensp;식단안내</a>
          </div>
        </div>
      </nav>

    <main id="container">
        <section class="left_section">
            <aside id="side-menu">
              <div class="title-area">
                <h1>대학생활</h1>
              </div>
              <a href="/college_life/club.html" class="menu">학생회 소개</a>
              <a href="/college_life/council.html" class="menu">동아리/스터디</a>
              <a href="/college_life/diet.html" class="menu">식단안내</a>
              <a href="/college_life/gallery.html" class="menu">갤러리</a>
            </aside>
        </section>

        <section class="right_section">
           <article>
            <div>
                <h3>식단안내</h3>
            </div>
           </article>
        </section>    
    </main>
    <th:block th:include="/common/html/footer.html"/>
</body>
</html>