<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/management/lectureRegister.css">
    <link rel="stylesheet" href="/css/common/pagination.css" />
    <link rel="stylesheet" href="/css/common/header.css" />
    <link rel="stylesheet" href="/css/common/footer.css" />
</head>
<body>
<th:block th:include="/common/html/management/header.html"/>
    <main id="container">
        <div>
            <th:block th:include="/common/html/management/aside.html"/>
            <section>
                <div class="title-area">
                  <h1>강의 등록</h1>
                  <h2>학사운영&ensp;&ensp;<span>>&ensp;&ensp;강의등록</span></h2>
                </div>
                <div>
                  <p><img src="/images/bullet-h4.png" alt="#"> 기본정보 입력</p>
                  <table class="Enter_basic_information">                        
                    <tr>
                      <td>과목코드</td>
                      <td>학과 코드 + 연도 + 학기 + 순번 조합 자동생성</td>
                      <td>개설학과</td>
                      <td>
                        <select>
                          <option value="">인문사회대학</option>
                        </select>
                        <select name="" id="">
                          <option value="">국어국문학과</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>개설학년</td>
                      <td>
                        <select name="" id="">
                          <option value="">1학년</option>
                        </select>
                      </td>
                      <td>학점</td>
                      <td>
                        <select name="" id="">
                          <option value="">3학점</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <td>이수구분</td>
                      <td>
                        <select name="" id="">
                          <option value="전공 선택">전공선택</option>
                        </select>
                      </td>
                      <td>담당교수</td>
                      <td>
                        <input type="text">
                      </td>
                    </tr>
                    <tr>
                      <td>강의명</td>
                      <td colspan="3">
                        <input type="text" placeholder="강좌명 입력">
                      </td>
                    </tr>
                    <tr>
                      <td>강의 설명</td>
                      <td colspan="3">
                        <input type="text" placeholder="강의 개요 및 목표, 학습 내용 등">
                      </td>
                    </tr>
                  </table>
              </div>
              <div>
                <p><img src="/images/bullet-h4.png" alt="#"> 대학 운영 현황</p>
                <table class="University_operation_status">                        
                  <tr>
                    <td>수업 기간</td>
                    <td colspan="3">
                      <input type="date">
                      <span> ~ </span>
                      <input type="date">
                    </td>
                  </tr>
                  <tr>
                    <td>수업 시간</td>
                    <td colspan="3">
                      <input type="time">
                      <span> ~ </span>
                      <input type="time">
                      <input type="checkbox" id="week">
                      <span>월</span>
                      <input type="checkbox" id="week">
                      <span>화</span>
                      <input type="checkbox" id="week">
                      <span>수</span>
                      <input type="checkbox" id="week">
                      <span>목</span>
                      <input type="checkbox" id="week">
                      <span>금</span>
                    </td>
                  </tr>
                  <tr>
                    <td>평가방식</td>
                    <td colspan="3">
                      <input type="text" placeholder="출석 10%, 과제 30%, 시험 60%">
                    </td>
                  </tr>
                  <tr>
                    <td>교재</td>
                    <td colspan="3">
                      <input type="text" placeholder="출판사-도서명-저자 입력">
                    </td>
                  </tr>
                  <tr>
                    <td>강의실</td>
                    <td>
                      <input type="text" placeholder="인문관 301호">
                    </td>
                    <td>최대 수강인원</td>
                    <td>
                      <input type="text">
                    </td>
                  </tr>
                </table>
                <button class="btn_register">등록</button>
              </div>
            </section>
        </div>
    </main>
<th:block th:include="/common/html/management/footer.html"/>
</body>

</html>