<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Document</title>
  <link rel="stylesheet" th:href="@{/css/common/header.css}"/>
  <link rel="stylesheet" th:href="@{/css/common/nav.css}"/>
  <link rel="stylesheet" th:href="@{/css/common/side-menu.css}"/>
  <link rel="stylesheet" th:href="@{/css/common/footer.css}"/>
  <link rel="stylesheet" th:href="@{/css/community/view.css}"/>
</head>
<body>
<div id="wrapper">
  <th:block th:insert="/community/view.html"/>
  <main id="container">
    <aside id="side-menu">
      <div class="title-area">
        <h1>커뮤니티</h1>
      </div>
      <a th:href="@{/article(category=notice)}" class="menu">공지사항</a>
      <a th:href="@{/article(category=news)}" class="menu">뉴스 및 칼럼</a>
      <a th:href="@{/article(category=employment)}" class="menu">취업정보</a>
      <a th:href="@{/article(category=bulletin)}" class="menu">자유게시판</a>
      <a th:href="@{/article/qna}" class="menu">질문과답변</a>
      <a th:href="@{/article(category=resources)}" class="menu">자료실</a>
    </aside>
    <section>
      <form th:action="@{/article/publish}" method="get">
        <table>
          <tbody>
          <tr>
            <th>제목</th>
            <td class="title">그린대학교 웹사이트 신규개설 안내</td>
          </tr>
          <tr>
            <th>작성자</th>
            <td class="author">김철수</td>
            <th>작성일</th>
            <td class="register-date">2025-01-01</td>
          </tr>
          </tbody>
        </table>
        <div id="content-area">
          <textarea name="" id="content"></textarea>
        </div>
        <div id="file-upload-area">
          <input type="file"/>
          <input type="file"/>
        </div>
        <div id="button-area">
          <button class="btn publish-btn">등록</button>
          <button class="btn modify-btn">수정</button>
          <button class="btn delete-btn">삭제</button>
        </div>
      </form>
    </section>
  </main>
  <th:block th:insert="/common/footer.html"/>
</div>
</body>
</html>
